In [46]:
import pandas as pd

In [47]:
df = pd.read_csv("./data.csv")

In [48]:
df

,Unnamed: 0,aiddata_id,aiddata_2_id,year,donor,recipient,commitment_amount_usd_constant,coalesced_purpose_code,coalesced_purpose_name
0,1,2.414478e+06,NaN,1977,Saudi Arabia,India,348718518.0,23030,Power generation/renewable sources
1,2,2.414509e+06,NaN,1977,Saudi Arabia,Brazil,191647004.0,23040,Electrical transmission/ distribution
2,3,2.414635e+06,NaN,1983,Saudi Arabia,India,79371799.0,21030,Rail transport
3,4,2.414665e+06,NaN,1984,Saudi Arabia,Taiwan,212202942.0,21030,Rail transport
4,5,2.414667e+06,NaN,1984,Saudi Arabia,Korea,134511154.0,21040,Water transport
5,6,2.414684e+06,NaN,1985,Saudi Arabia,India,128074768.0,23000,"Energy generation and supply, combinations of ..."
6,7,2.414760e+06,NaN,1987,Saudi Arabia,India,72707674.0,21040,Water transport
7,8,2.414840e+06,NaN,1993,Kuwait,Cyprus,25461230.0,21020,Road transport
8,9,2.415076e+06,NaN,1996,Kuwait,Lithuania,21381183.0,23050,Gas distribution
9,10,2.415206e+06,NaN,1998,Kuwait,India,1107033.0,21020,Road transport
10,11,2.426999e+06,NaN,1978,Kuwait,India,103885863.0,23000,"Energy generation and supply, combinations of ..."
11,12,2.427052e+06,NaN,1976,Kuwait,India,193588873.0,23030,Power generation/renewable sources
12,13,2.427058e+06,NaN,1976,Kuwait,Thailand,12905925.0,23040,Electrical transmission/ distribution
13,14,2.427115e+06,NaN,2001,Kuwait,Slovak Republic,1219994.0,14020,Water supply and sanitation - large systems
14,15,2.428296e+06,NaN,1992,Kuwait,Cyprus,6635123.0,21020,Road transport
15,16,2.428502e+06,NaN,1989,Kuwait,India,43493083.0,31320,Fishery development
16,17,2.428506e+06,NaN,1988,Kuwait,Cyprus,16145060.0,21020,Road transport
17,18,2.428566e+06,NaN,1988,Kuwait,Cyprus,27769503.0,14020,Water supply and sanitation - large systems
18,19,2.428587e+06,NaN,1986,Kuwait,Cyprus,30606432.0,21020,Road transport
19,20,2.428601e+06,NaN,1986,Kuwait,India,53561256.0,23030,Power generation/renewable sources
20,21,2.428623e+06,NaN,1984,Kuwait,Cyprus,27051193.0,14040,River development
21,22,2.428652e+06,NaN,1983,Kuwait,India,133092433.0,32220,Mineral/Metal prospection and exploration
22,23,2.428882e+06,NaN,1982,Kuwait,India,131175647.0,32120,Industrial development
23,24,2.428885e+06,NaN,1982,Kuwait,Thailand,50452172.0,23030,Power generation/renewable sources
24,25,2.428888e+06,NaN,1983,Kuwait,Cyprus,21878208.0,21020,Road transport
25,26,2.428969e+06,NaN,1981,Kuwait,India,83971160.0,43010,Multisector aid
26,27,2.428974e+06,NaN,1981,Kuwait,Thailand,65310902.0,23020,Power generation/non-renewable sources
27,28,2.429003e+06,NaN,1981,Kuwait,India,149282062.0,23020,Power generation/non-renewable sources
28,29,2.429034e+06,NaN,1979,Kuwait,Thailand,59307807.0,23000,"Energy generation and supply, combinations of ..."
29,30,2.429037e+06,NaN,1980,Kuwait,Cyprus,23153412.0,14040,River development
...,...,...,...,...,...,...,...,...,...
98510,98511,9.060009e+11,NaN,2013,Portugal,Chile,109.0,16061,Culture and recreation
98511,98512,9.060009e+11,NaN,2013,Poland,Brazil,63571.0,11420,Higher education
98512,98513,9.060009e+11,NaN,2013,Greece,India,24288.0,11420,Higher education
98513,98514,9.060009e+11,NaN,2013,Poland,Brazil,1657.0,11420,Higher education
98514,98515,9.060009e+11,NaN,2013,Poland,Brazil,4141.0,11420,Higher education
98515,98516,9.060009e+11,NaN,2013,Greece,Brazil,25253.0,11420,Higher education
98516,98517,9.060009e+11,NaN,2013,Portugal,Brazil,17651.0,24020,Monetary institutions
98517,98518,9.060009e+11,NaN,2013,Slovak Republic,Chile,2296.0,11420,Higher education
98518,98519,9.060009e+11,NaN,2013,Greece,Chile,1671.0,11420,Higher education
98519,98520,9.060009e+11,NaN,2013,Portugal,Brazil,197649.0,43082,Research/scientific institutions
98520,98521,9.060009e+11,NaN,2013,New Zealand,India,7911.0,11420,Higher education
98521,98522,9.060009e+11,NaN,2013,New Zealand,Brazil,81580.0,24030,Formal sector financial intermediaries
98522,98523,9.060009e+11,NaN,2013,New Zealand,Brazil,52072.0,11420,Higher education
98523,98524,9.060009e+11,NaN,2013,New Zealand,Chile,73769.0,15110,Economic and development policy/planning
98524,98525,9.060009e+11,NaN,2013,New Zealand,South Africa,112232.0,91010,Administrative costs
98525,98526,9.060009e+11,NaN,2013,New Zealand,India,954657.0,16030,Housing policy and administrative management
98526,98527,9.060009e+11,NaN,2013,New Zealand,Chile,245607.0,11420,Higher education
98527,98528,9.060009e+11,NaN,2013,New Zealand,Colombia,244739.0,31100,"Agriculture, combinations of purposes in Agric..."
98528,98529,9.060009e+11,NaN,2013,New Zealand,South Africa,27772.0,11420,Higher education
98529,98530,9.060009e+11,NaN,2013,New Zealand,South Africa,77240.0,15110,Economic and development policy/planning
98530,98531,9.060009e+11,NaN,2013,New Zealand,Thailand,60751.0,11320,Secondary education
98531,98532,9.060009e+11,NaN,2013,Czech Republic,Brazil,4001.0,11320,Secondary education
98532,98533,9.060009e+11,NaN,2013,Czech Republic,Thailand,127.0,15110,Economic and development policy/planning
98533,98534,9.060009e+11,NaN,2013,Czech Republic,Chile,3678.0,15110,Economic and development policy/planning
98534,98535,9.060009e+11,NaN,2013,Czech Republic,South Africa,2382.0,11105,"Education, level unspecified, purpose unspecif..."
98535,98536,9.060009e+11,NaN,2013,Czech Republic,Colombia,51840.0,11420,Higher education
98536,98537,9.060009e+11,NaN,2013,Czech Republic,India,35380.0,72010,Material relief assistance and services
98537,98538,9.060009e+11,NaN,2013,Czech Republic,India,11930.0,11420,Higher education
98538,98539,9.060009e+11,NaN,2013,Czech Republic,Brazil,6669.0,16010,Social/ welfare services
98539,98540,9.060009e+11,NaN,2013,Czech Republic,Chile,7145.0,11120,Education facilities and training

In [49]:
data_r = df[["recipient","donor","commitment_amount_usd_constant"]]

In [50]:
data_r1 = data_r.groupby(['recipient'], as_index=False).agg({"commitment_amount_usd_constant": "sum"})

In [54]:
data_agg = data_r1.sort_values(by=['commitment_amount_usd_constant'],ascending=False)

In [55]:
top_10r = data_agg.nlargest(10, 'commitment_amount_usd_constant')

In [56]:
top_10r

       recipient  commitment_amount_usd_constant
17         India                    1.339805e+11
41      Thailand                    4.904132e+10
3         Brazil                    3.660726e+10
6       Colombia                    2.553054e+10
21         Korea                    2.529432e+10
29        Poland                    2.451723e+10
36  South Africa                    1.865556e+10
22        Kuwait                    7.771540e+09
5          Chile                    7.334129e+09
33  Saudi Arabia                    4.877749e+09

In [67]:
a = list(top_10r['recipient'])

In [82]:
a1 = a.reverse()

In [83]:
a1

In [69]:
data_r2 = data_r.groupby(['donor'], as_index=False).agg({"commitment_amount_usd_constant": "sum"})

In [70]:
data_agg2 = data_r2.sort_values(by=['commitment_amount_usd_constant'],ascending=False)

In [71]:
top_20d = data_agg2.nlargest(20, 'commitment_amount_usd_constant')

In [72]:
b = list(top_20d['donor'])

In [73]:
b

['United States',
 'Japan',
 'Germany',
 'United Kingdom',
 'France',
 'Netherlands',
 'Canada',
 'Sweden',
 'Norway',
 'Italy',
 'Denmark',
 'Switzerland',
 'Australia',
 'Belgium',
 'Spain',
 'Saudi Arabia',
 'Kuwait',
 'Korea',
 'Austria',
 'Finland']

In [74]:
data = data_r[data_r.recipient.isin(a)]

In [75]:
data1 = data[data.donor.isin(b)]

In [76]:
data1

          recipient          donor  commitment_amount_usd_constant
0             India   Saudi Arabia                     348718518.0
1            Brazil   Saudi Arabia                     191647004.0
2             India   Saudi Arabia                      79371799.0
4             Korea   Saudi Arabia                     134511154.0
5             India   Saudi Arabia                     128074768.0
6             India   Saudi Arabia                      72707674.0
9             India         Kuwait                       1107033.0
10            India         Kuwait                     103885863.0
11            India         Kuwait                     193588873.0
12         Thailand         Kuwait                      12905925.0
15            India         Kuwait                      43493083.0
19            India         Kuwait                      53561256.0
21            India         Kuwait                     133092433.0
22            India         Kuwait                     131175647.0
23         Thailand         Kuwait                      50452172.0
25            India         Kuwait                      83971160.0
26         Thailand         Kuwait                      65310902.0
27            India         Kuwait                     149282062.0
28         Thailand         Kuwait                      59307807.0
30         Thailand         Kuwait                      72911163.0
92            Chile  United States                      54947693.0
93         Thailand  United States                     226863034.0
94         Thailand  United States                       3092381.0
95           Poland  United States                      14491666.0
96            India  United States                     327450763.0
98         Colombia  United States                       9091619.0
130           India  United States                      46124340.0
131           India  United States                      46124340.0
132           India  United States                      16877550.0
133           India  United States                        136415.0
...             ...            ...                             ...
98301         India        Finland                         34500.0
98411  South Africa    Netherlands                         83649.0
98412  South Africa    Netherlands                         66838.0
98413  South Africa    Netherlands                         70422.0
98414  South Africa    Netherlands                        102995.0
98415  South Africa    Netherlands                         18440.0
98416  South Africa    Netherlands                          5771.0
98417  South Africa    Netherlands                        116141.0
98418  South Africa    Netherlands                       3427068.0
98419  South Africa    Netherlands                         13670.0
98420  South Africa    Netherlands                        100646.0
98421  South Africa    Netherlands                       1295351.0
98422  South Africa    Netherlands                        592522.0
98423         India    Netherlands                        140413.0
98424         India    Netherlands                        324533.0
98425         India    Netherlands                         98406.0
98426         India    Netherlands                        209942.0
98427      Colombia    Netherlands                         64904.0
98428      Colombia    Netherlands                         62939.0
98429      Colombia    Netherlands                        160795.0
98430      Colombia    Netherlands                         85141.0
98431      Colombia    Netherlands                        888696.0
98432      Colombia    Netherlands                        176941.0
98433      Colombia    Netherlands                        158860.0
98434      Colombia    Netherlands                        908692.0
98435      Colombia    Netherlands                        807600.0
98436        Brazil    Netherlands                        149530.0
98437  South Africa    Netherlands                         17351.0
98438        Brazil    Netherlands                        144707.0
98439      Colombia    Netherlands                        762102.0

[83931 rows x 3 columns]

In [77]:
#data_r.groupby(['recipient','donor'], as_index=False).agg({"commitment_amount_usd_constant": "sum"})

In [78]:
data_final = pd.pivot_table(data1,values='commitment_amount_usd_constant',index='recipient',columns='donor')

In [79]:
data_final = data_final.fillna(0)

In [80]:
#result = data.transpose() 
data_final = data_final[b]

In [84]:
data_final = data_final.reindex(a[::-1])

In [85]:
data_final

donor,United States,Japan,Germany,United Kingdom,France,Netherlands,Canada,Sweden,Norway,Italy,Denmark,Switzerland,Australia,Belgium,Spain,Saudi Arabia,Kuwait,Korea,Austria,Finland
recipient,,,,,,,,,,,,,,,,,,,,
Saudi Arabia,4.673698e+07,2.096972e+06,3.356346e+05,1.118583e+05,2.801659e+05,4.550420e+04,8.083000e+03,0.000000e+00,1.776136e+04,3.967157e+04,0.000000e+00,0.000000e+00,7.575000e+03,9.103000e+03,4.738000e+03,0.0,0.000000e+00,4.198075e+04,1.430197e+05,3.871000e+04
Chile,1.104994e+07,8.039361e+05,1.399050e+06,1.610668e+05,6.321698e+05,8.475243e+05,2.847290e+05,7.303104e+05,3.603538e+05,5.604570e+05,2.227143e+06,5.055388e+05,1.056148e+05,1.098478e+05,1.576725e+05,0.0,0.000000e+00,8.073873e+05,9.737558e+04,1.208164e+05
Kuwait,9.659278e+08,6.281640e+05,4.882974e+05,0.000000e+00,2.612478e+05,3.022700e+04,1.568000e+03,5.614187e+06,0.000000e+00,1.639550e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.023200e+04,0.0,0.000000e+00,0.000000e+00,4.139667e+04,0.000000e+00
South Africa,3.999270e+06,1.829412e+06,9.201382e+05,2.310315e+06,2.336243e+06,8.866318e+05,5.523875e+05,1.006069e+06,4.967978e+05,4.511258e+05,1.146965e+06,9.070329e+05,6.129593e+05,2.698685e+05,1.196048e+05,0.0,0.000000e+00,3.281454e+05,1.156184e+05,7.473544e+05
Poland,1.217741e+07,2.652010e+06,7.301164e+07,1.246131e+06,6.170561e+06,1.568073e+05,1.502973e+07,3.500977e+05,1.001916e+05,7.415925e+05,0.000000e+00,1.963594e+05,3.046000e+03,3.334711e+07,1.161439e+06,0.0,0.000000e+00,0.000000e+00,7.541892e+05,1.112112e+06
Korea,4.162075e+07,9.240747e+07,8.329250e+06,3.243556e+05,6.557165e+05,6.147400e+04,2.147449e+05,0.000000e+00,0.000000e+00,6.658509e+05,0.000000e+00,4.153567e+04,2.053947e+05,1.315200e+04,4.899579e+04,134511154.0,0.000000e+00,0.000000e+00,7.966162e+06,0.000000e+00
Colombia,1.323858e+07,1.417322e+06,9.919228e+05,7.086701e+05,3.421807e+06,1.254343e+06,7.876600e+05,8.999782e+05,5.910276e+05,6.285685e+05,4.494453e+05,4.140764e+05,1.112191e+05,1.795248e+05,2.621804e+05,0.0,0.000000e+00,3.525208e+05,1.873282e+05,2.669857e+05
Brazil,1.010316e+07,5.405729e+06,1.599691e+06,1.262500e+06,2.850154e+06,5.726348e+05,5.900857e+05,1.753533e+05,1.905423e+06,1.005376e+06,1.061527e+06,4.522241e+05,1.117882e+05,2.381753e+05,1.457298e+05,191647004.0,0.000000e+00,3.051826e+06,1.006291e+05,1.856897e+05
Thailand,4.555145e+06,1.435305e+07,2.222291e+06,2.000954e+06,1.397684e+06,6.341157e+05,1.799164e+06,8.404230e+05,4.357142e+05,2.564968e+05,3.059309e+06,5.934845e+05,1.123426e+06,2.389937e+05,4.980418e+04,78240158.0,5.217759e+07,1.394229e+05,8.701001e+05,9.211376e+05
India,4.720112e+06,2.798285e+07,5.882463e+06,9.633451e+06,4.498994e+06,6.754801e+06,3.044463e+06,3.991446e+06,1.370730e+06,1.022411e+06,5.260811e+06,2.395181e+06,9.909948e+05,4.986517e+05,1.836625e+05,126608557.0,9.923971e+07,4.993923e+06,5.739275e+05,3.941958e+05

In [86]:
data_final.to_csv("./q11.tsv",index=True,sep='\t')