In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./aiddata.csv")

In [3]:
df = df.drop(['aiddata_id','aiddata_2_id'],axis=1)

In [4]:
df.head()

,Unnamed: 0,year,donor,recipient,commitment_amount_usd_constant,coalesced_purpose_code,coalesced_purpose_name
0,1,1977,Saudi Arabia,India,348718518.0,23030,Power generation/renewable sources
1,2,1977,Saudi Arabia,Brazil,191647004.0,23040,Electrical transmission/ distribution
2,3,1983,Saudi Arabia,India,79371799.0,21030,Rail transport
3,4,1984,Saudi Arabia,Taiwan,212202942.0,21030,Rail transport
4,5,1984,Saudi Arabia,Korea,134511154.0,21040,Water transport

In [5]:
df['coalesced_purpose_name'].value_counts().nlargest(5)

Sectors not specified          8076
Social/ welfare services       6228
Strengthening civil society    5600
Higher education               4593
Multisector aid                3026
Name: coalesced_purpose_name, dtype: int64

In [6]:
def process_data(df):
    dict_donation = {}
    dict_receiver = {}
    for index, row in df.iterrows():
        try:
            dict_donation[row["donor"]] += row["commitment_amount_usd_constant"]
        except:
            dict_donation[row["donor"]] = row["commitment_amount_usd_constant"]

        try:
            dict_receiver[row["recipient"]] += row["commitment_amount_usd_constant"]
        except:
            dict_receiver[row["recipient"]] = row["commitment_amount_usd_constant"]

    donated = set(dict_donation.keys())
    received = set(dict_receiver.keys())

    not_donated = received - donated

    result = list(dict_donation.keys()) + list(not_donated) 

    df_aid = pd.DataFrame(columns=['country', 'donated', 'received'])
    for i in range(len(result)):

        country = result[i]
        try:
            donated = dict_donation[country]
        except:
            donated = 0.0

        try:
            received = dict_receiver[country]
        except:
            received = 0.0
        df_aid.loc[i] = [country, donated, received]
    return df_aid

In [21]:
file1_df = process_data(df[df['year'] <= 1980])
file2_df = process_data(df[(df['year'] > 1980) & (df['year'] <= 1990)])
file3_df = process_data(df[(df['year'] > 1990) & (df['year'] <= 2000)])
file4_df = process_data(df[(df['year'] > 2000)])

In [23]:
file4_df

                 country       donated      received
0                Iceland  1.725010e+05  0.000000e+00
1   United Arab Emirates  2.725440e+06  9.700762e+06
2                  Korea  1.299048e+09  1.783245e+09
3                 Canada  1.487764e+09  5.874875e+08
4             Luxembourg  1.115540e+08  1.393200e+08
5                 France  8.061433e+09  8.227000e+03
6                 Cyprus  5.599000e+03  8.347286e+07
7                  Qatar  1.045191e+08  2.775897e+06
8                 Sweden  8.915114e+08  0.000000e+00
9                 Monaco  9.413870e+05  0.000000e+00
10               Austria  3.158890e+08  4.212536e+08
11                Brazil  1.134440e+06  1.274570e+10
12               Belgium  6.359515e+08  0.000000e+00
13        United Kingdom  9.017262e+09  0.000000e+00
14               Finland  3.732752e+08  7.367000e+04
15              Colombia  1.907950e+05  1.332902e+10
16           Switzerland  8.175189e+08  1.419670e+05
17              Portugal  6.328638e+07  1.130580e+05
18               Germany  1.340932e+10  6.016400e+04
19              Thailand  2.546100e+04  7.550642e+09
20                Norway  2.334164e+09  0.000000e+00
21                 Italy  5.366888e+08  3.558900e+04
22                 Chile  5.643490e+05  1.783035e+09
23           New Zealand  4.882510e+07  0.000000e+00
24             Australia  5.600421e+08  6.968829e+08
25           Netherlands  1.901623e+09  0.000000e+00
26       Slovak Republic  3.955740e+05  1.640617e+08
27         Liechtenstein  2.126695e+06  1.287130e+05
28                Poland  4.031840e+05  2.071250e+09
29               Estonia  2.789420e+05  6.721263e+07
30        Czech Republic  3.053896e+06  2.127461e+08
31               Hungary  3.245520e+05  2.399042e+08
32                Taiwan  7.945465e+06  2.169551e+08
33               Denmark  5.056770e+08  0.000000e+00
34                Greece  3.266718e+07  0.000000e+00
35                 Spain  1.378336e+09  0.000000e+00
36         United States  2.391023e+10  1.045250e+08
37               Ireland  2.871681e+08  4.473037e+08
38              Slovenia  1.500280e+05  4.056810e+07
39                Kuwait  1.219994e+06  1.000060e+07
40                 Japan  3.706345e+10  1.246730e+05
41                 India  0.000000e+00  4.864609e+10
42          Saudi Arabia  0.000000e+00  7.022697e+07
43                Latvia  0.000000e+00  7.768683e+07
44             Lithuania  0.000000e+00  1.195212e+08
45          South Africa  0.000000e+00  1.223148e+10
46               Romania  0.000000e+00  1.316123e+09

In [24]:
file1_df.to_csv("file1.csv", sep=',')
file2_df.to_csv("file2.csv", sep=',')
file3_df.to_csv("file3.csv", sep=',')
file4_df.to_csv("file4.csv", sep=',')